html,
body,
main {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  overflow: hidden;
}

#status {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  margin: 0;
  color: white;
  font-family: sans-serif;
  text-shadow: 0 1px 3px black;
}

#status {
  padding: 0.5rem 0.7rem;
  border-radius: 4px;
  background: rgb(0 0 0 / 55%);
}